MONGODB_URI = mongo db url
JWT_SECRET = random text
NODE_ENV = development
CORS_ORIGIN = http://localhost:5173

CLOUD_NAME = your cloud name
CLOUD_API_KEY = your cloud api key
CLOUD_API_SECRET = your cloud api secret

EMAIL_USER = your gmail address
EMAIL_PASS = your gmail app password
CLIENT_URL = http://localhost:5173